:root {
    --primary-color: #023047;
    --secondary-color: 
    #8ECAE6;
    --light-background-color: #1E1C1E;
    --dark-background-color: #161516;
    --text-color: #f5f5f5;
    --paragraph-color: #a4a4a4;
   }
   